[submodule "Social-CADRL"]
	path = Social-CADRL
	url = https://github.com/abj247/Social-CADRL.git
[submodule "Social-ORCA"]
	path = Social-ORCA
	url = https://github.com/abj247/Social-ORCA.git
[submodule "Social-IMPC-DR"]
	path = Social-IMPC-DR
	url = https://github.com/abj247/Social-IMPC-DR.git
